.panel.panel-default
  - if user.errors.any?
  #error_explanation
    %h2
      = pluralize(user.errors.count, "error")
      prohibited this user from being saved:
    %ul
      - user.errors.full_messages.each do |message|
        %li
          = message
  = form_for(user) do |f|
    .input-group
      %span.input-group-addon
        = f.label :email
      = f.text_field :email, class: 'form-control'
    .input-group
      %span.input-group-addon
        = f.label :password
      = f.password_field :password, class: 'form-control'
    .input-group
      %span.input-group-addon
        = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    .input-group
      %span.input-group-addon
        = f.label :favorite_foods
        = h.label { h.check_box + h.text }
        = collection_check_boxes(:user, :favorite_food_ids, Food.all, :id, :emoji) do |h|
    .actions
      = f.submit
