%p#notice
  = ::Temple::Utils.escape_html((notice))
.panel.panel-default
  .panel-heading
    Listing Users
  .container
    %table.table
      - if !@users.empty?
        %thead
          %tr
            %th
              Email
            %th
              Hobbies
            %th
      %tbody
        - @users.each do |user|
          %tr
            %td
              = ::Temple::Utils.escape_html((user.email))
            %td
              = ::Temple::Utils.escape_html((user.favorite_foods.map(&:emoji).join(' ')))
            %td
              - if user.id == current_user.id
                = ::Temple::Utils.escape_html((link_to 'Edit', edit_user_path(user)))
            %td
              - if user.id == current_user.id
                = ::Temple::Utils.escape_html((link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }))
  %br/
